@(tasks: List[Task], taskForm: Form[String], user: Option[String])(implicit messages: Messages)

@import helper._

@main("Todo list"){
	@navbar(user)
}{
<div class="contents"><h3>Add a new task</h3>
	@form(routes.Application.newTask) {
		<input type="text" name="label" id="label" placeholder="todo" value="">
		<input type="submit" class="ghost" value="Create">
	}

	<h1>@tasks.size task(s)</h1>
	<ul class="task-list">
		@tasks.map { task =>
			<li>
			@if(task.user != ""){
				<div class="task">[@task.user]</div>
			}
			<div class="task">@task.label</div>
			<div class="task">
			@form(routes.Application.deleteTask(task.id)) {
				<input type="submit" class="trash" value="Delete">
			}
			</div>
			</li>
		}
	</ul>
	</div>
}
